/* line 5, ../scss/main.scss */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 12, ../scss/main.scss */
.container {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: default-font;
  display: flex;
  flex-flow: column;
}
/* line 19, ../scss/main.scss */
.container .upper-nav {
  width: 100%;
  background: white;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #e6e93b;
}
/* line 25, ../scss/main.scss */
.container .upper-nav .nav-container {
  width: 100%;
  display: flex;
  flex-flow: column;
}
/* line 29, ../scss/main.scss */
.container .upper-nav .nav-container .nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
/* line 34, ../scss/main.scss */
.container .upper-nav .nav-container .nav-bar .contains {
  display: flex;
  width: 50%;
  justify-content: center;
  flex-flow: row;
}
/* line 39, ../scss/main.scss */
.container .upper-nav .nav-container .nav-bar .contains .items {
  display: flex;
  justify-content: center;
}
/* line 42, ../scss/main.scss */
.container .upper-nav .nav-container .nav-bar .contains .items img {
  pointer-events: none;
  display: block;
  margin: auto;
  width: 45%;
}
/* line 50, ../scss/main.scss */
.container .upper-nav .nav-container .nav-bar .education-contains {
  margin-right: 21%;
  width: 20%;
  display: flex;
  justify-content: center;
  flex-flow: row;
}
/* line 56, ../scss/main.scss */
.container .upper-nav .nav-container .nav-bar .education-contains .items {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
/* line 60, ../scss/main.scss */
.container .upper-nav .nav-container .nav-bar .education-contains .items img {
  pointer-events: none;
  display: block;
  margin: auto;
  width: 45%;
}
@media all and (max-width: 500px) {
  /* line 70, ../scss/main.scss */
  .container .upper-nav .nav-container .nav-bar {
    flex-direction: row;
  }
  /* line 72, ../scss/main.scss */
  .container .upper-nav .nav-container .nav-bar .contains {
    flex-direction: column;
  }
  /* line 74, ../scss/main.scss */
  .container .upper-nav .nav-container .nav-bar .contains img {
    width: 50px !important;
  }
  /* line 78, ../scss/main.scss */
  .container .upper-nav .nav-container .nav-bar .toggle {
    display: block !important;
  }
  /* line 81, ../scss/main.scss */
  .container .upper-nav .nav-container .nav-bar .education-contains {
    flex-flow: column;
    margin-right: 9vw;
    justify-content: space-between;
    align-items: center;
  }
  /* line 86, ../scss/main.scss */
  .container .upper-nav .nav-container .nav-bar .education-contains img {
    width: 50px !important;
  }
}
/* line 94, ../scss/main.scss */
.container .main-content {
  display: flex;
  position: relative;
  justify-content: center;
  line-height: 2.1em;
}
/* line 99, ../scss/main.scss */
.container .main-content .about {
  height: 100%;
  width: 80%;
  padding: 30px 30px;
}
/* line 104, ../scss/main.scss */
.container .main-content .education {
  height: 100%;
  width: 80%;
  padding: 30px 30px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/* line 113, ../scss/main.scss */
.container .main-content .education .school {
  text-align: start;
}
/* line 116, ../scss/main.scss */
.container .main-content .education .coursework {
  text-align: start;
}
/* line 120, ../scss/main.scss */
.container .main-content .experience {
  height: 100%;
  width: 80%;
  padding: 30px 30px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/* line 129, ../scss/main.scss */
.container .main-content .experience .work {
  text-align: start;
}
/* line 132, ../scss/main.scss */
.container .main-content .experience .projects {
  text-align: start;
}
/* line 136, ../scss/main.scss */
.container .main-content .other {
  height: 100%;
  width: 80%;
  padding: 30px 30px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/* line 145, ../scss/main.scss */
.container .main-content .other .books {
  text-align: start;
}
/* line 148, ../scss/main.scss */
.container .main-content .other .piano {
  text-align: start;
}
