@font-face {
  font-family: default-font;
  src: url(../AvenirLTStd-Light.otf);
}
@font-face {
  font-family: default-font;
  src: url(../AvenirLTStd-Roman.otf);
  font-weight: bold;
}
/* line 15, ../scss/main.scss */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 22, ../scss/main.scss */
.container {
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: default-font;
  display: flex;
  flex-flow: column;
}
/* line 29, ../scss/main.scss */
.container .upper-nav {
  width: 100%;
  background: white;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #e6e9eb;
}
/* line 35, ../scss/main.scss */
.container .upper-nav .my-logo {
  display: flex;
  justify-content: center;
}
/* line 38, ../scss/main.scss */
.container .upper-nav .my-logo a {
  display: flex;
  justify-content: center;
}
/* line 42, ../scss/main.scss */
.container .upper-nav .my-logo a img {
  max-width: 270px;
  max-height: 329px;
  width: 70vw;
  height: 85vw;
}
/* line 51, ../scss/main.scss */
.container .upper-nav .nav-container {
  width: 100%;
  display: flex;
  flex-flow: column;
}
/* line 55, ../scss/main.scss */
.container .upper-nav .nav-container .nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
/* line 60, ../scss/main.scss */
.container .upper-nav .nav-container .nav-bar .contains {
  display: flex;
  width: 50%;
  justify-content: center;
  flex-flow: row;
}
/* line 65, ../scss/main.scss */
.container .upper-nav .nav-container .nav-bar .contains .items {
  display: flex;
  justify-content: center;
}
/* line 68, ../scss/main.scss */
.container .upper-nav .nav-container .nav-bar .contains .items img {
  pointer-events: none;
  display: block;
  margin: auto;
  width: 45%;
}
/* line 76, ../scss/main.scss */
.container .upper-nav .nav-container .nav-bar .work-contains {
  margin-right: 21%;
  width: 20%;
  display: flex;
  justify-content: center;
  flex-flow: row;
}
/* line 82, ../scss/main.scss */
.container .upper-nav .nav-container .nav-bar .work-contains .items {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
/* line 86, ../scss/main.scss */
.container .upper-nav .nav-container .nav-bar .work-contains .items img {
  pointer-events: none;
  display: block;
  margin: auto;
  width: 45%;
}
@media all and (max-width: 500px) {
  /* line 96, ../scss/main.scss */
  .container .upper-nav .nav-container .nav-bar {
    flex-direction: row;
  }
  /* line 98, ../scss/main.scss */
  .container .upper-nav .nav-container .nav-bar .contains {
    flex-direction: column;
  }
  /* line 100, ../scss/main.scss */
  .container .upper-nav .nav-container .nav-bar .contains img {
    width: 50px !important;
  }
  /* line 104, ../scss/main.scss */
  .container .upper-nav .nav-container .nav-bar .toggle {
    display: block !important;
  }
  /* line 107, ../scss/main.scss */
  .container .upper-nav .nav-container .nav-bar .work-contains {
    flex-flow: column;
    margin-right: 9vw;
    justify-content: space-between;
    align-items: center;
  }
  /* line 112, ../scss/main.scss */
  .container .upper-nav .nav-container .nav-bar .work-contains img {
    width: 50px !important;
  }
}
/* line 120, ../scss/main.scss */
.container .main-content {
  display: flex;
  position: relative;
  justify-content: center;
  line-height: 2.1em;
}
/* line 125, ../scss/main.scss */
.container .main-content .about {
  height: 100%;
  width: 80%;
  padding-top: 30px;
  padding-bottom: 30px;
}
/* line 131, ../scss/main.scss */
.container .main-content .work {
  padding-top: 30px;
  padding-bottom: 30px;
  height: 100%;
  width: 80%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/* line 142, ../scss/main.scss */
.container .main-content .work .code .work-text {
  text-align: start;
}
/* line 145, ../scss/main.scss */
.container .main-content .work .code .works {
  display: block;
  align-self: flex-start;
}
/* line 148, ../scss/main.scss */
.container .main-content .work .code .works .work-container {
  display: table;
  content: " ";
}
/* line 151, ../scss/main.scss */
.container .main-content .work .code .works .work-container .workCell {
  cursor: pointer;
  font-weight: bold;
  font-size: large;
  padding: 10px;
  transition: .2s ease-in-out;
}
/* line 157, ../scss/main.scss */
.container .main-content .work .code .works .work-container .workCell .workContent:hover {
  transform: scale(1.1);
}
/* line 161, ../scss/main.scss */
.container .main-content .work .code .works .work-container .description {
  width: 80%;
  text-align: center;
  margin: auto;
  padding-bottom: 10px;
  color: #444;
  margin-top: 10px;
  font-weight: lighter;
  font-size: 14px;
  line-height: 1.8;
}
/* line 174, ../scss/main.scss */
.container .main-content .work .code .work-info {
  display: flex;
  flex-flow: column;
  align-items: center;
}
/* line 178, ../scss/main.scss */
.container .main-content .work .code .work-info .cancel {
  cursor: pointer;
  align-self: flex-end;
}
/* line 181, ../scss/main.scss */
.container .main-content .work .code .work-info .cancel img {
  width: 30px;
}
/* line 187, ../scss/main.scss */
.container .main-content .work .code .work-info .work-info-container .work-media img {
  width: 70%;
  height: 90%;
}
/* line 192, ../scss/main.scss */
.container .main-content .work .code .work-info .work-info-container .videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}
/* line 197, ../scss/main.scss */
.container .main-content .work .code .work-info .work-info-container .videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 205, ../scss/main.scss */
.container .main-content .work .code .work-info .work-info-container .work-title {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
/* line 210, ../scss/main.scss */
.container .main-content .work .code .work-info .work-info-container .work-details {
  align-self: flex-start;
  text-align: start;
}
/* line 218, ../scss/main.scss */
.container .main-content .work .design .design-text {
  text-align: start;
}
/* line 221, ../scss/main.scss */
.container .main-content .work .design .projects {
  display: block;
  align-self: flex-start;
}
/* line 224, ../scss/main.scss */
.container .main-content .work .design .projects .project-container {
  display: table;
  content: " ";
}
/* line 227, ../scss/main.scss */
.container .main-content .work .design .projects .project-container .projectCell {
  cursor: pointer;
  font-weight: bold;
  font-size: large;
  padding: 10px;
  transition: .2s ease-in-out;
}
/* line 233, ../scss/main.scss */
.container .main-content .work .design .projects .project-container .projectCell .projectContent:hover {
  transform: scale(1.1);
}
/* line 237, ../scss/main.scss */
.container .main-content .work .design .projects .project-container .description {
  width: 80%;
  text-align: center;
  margin: auto;
  padding-bottom: 10px;
  color: #444;
  margin-top: 10px;
  font-weight: lighter;
  font-size: 14px;
  line-height: 1.8;
}
/* line 250, ../scss/main.scss */
.container .main-content .work .design .project-info {
  display: flex;
  flex-flow: column;
  align-items: center;
}
/* line 254, ../scss/main.scss */
.container .main-content .work .design .project-info .cancel {
  cursor: pointer;
  align-self: flex-end;
}
/* line 257, ../scss/main.scss */
.container .main-content .work .design .project-info .cancel img {
  width: 30px;
}
/* line 263, ../scss/main.scss */
.container .main-content .work .design .project-info .project-info-container .project-media img {
  width: 70%;
  height: 90%;
}
/* line 268, ../scss/main.scss */
.container .main-content .work .design .project-info .project-info-container .videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}
/* line 273, ../scss/main.scss */
.container .main-content .work .design .project-info .project-info-container .videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 281, ../scss/main.scss */
.container .main-content .work .design .project-info .project-info-container .project-title {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
/* line 286, ../scss/main.scss */
.container .main-content .work .design .project-info .project-info-container .project-details {
  align-self: flex-start;
  text-align: start;
}
/* line 294, ../scss/main.scss */
.container .main-content .education {
  height: 100%;
  width: 80%;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
}
/* line 302, ../scss/main.scss */
.container .main-content .education .education-text {
  text-align: start;
}
/* line 306, ../scss/main.scss */
.container .main-content .education .projectCell {
  font-weight: bold;
  font-size: large;
}
/* line 311, ../scss/main.scss */
.container .main-content .education .projectContent img {
  width: 200px;
  height: 200px;
}
/* line 316, ../scss/main.scss */
.container .main-content .education .description {
  font-weight: lighter;
  font-size: 14px;
  line-height: 1.7em;
}
/* line 322, ../scss/main.scss */
.container .main-content .contact {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 80%;
  display: flex;
  flex-flow: row;
}
/* line 328, ../scss/main.scss */
.container .main-content .contact .contact-box {
  width: 70%;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}
/* line 333, ../scss/main.scss */
.container .main-content .contact .contact-box #contact-form {
  width: 100%;
}
/* line 335, ../scss/main.scss */
.container .main-content .contact .contact-box #contact-form input {
  margin-bottom: 50px;
  width: 40%;
  border: none;
  border-bottom: 1px solid #e6e9eb;
  display: block;
  padding-bottom: 10px;
}
/* line 343, ../scss/main.scss */
.container .main-content .contact .contact-box #contact-form textarea {
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #e6e9eb;
  width: 90%;
  height: 100px;
}
/* line 350, ../scss/main.scss */
.container .main-content .contact .contact-box #contact-form #btn {
  width: 150px;
  align-self: center;
}
/* line 354, ../scss/main.scss */
.container .main-content .contact .contact-box #contact-form input:focus,
.container .main-content .contact .contact-box #contact-form textarea:focus {
  outline: none;
}
/* line 360, ../scss/main.scss */
.container .main-content .contact .contact-info {
  width: 30%;
}
@media all and (max-width: 500px) {
  /* line 365, ../scss/main.scss */
  .container .main-content .contact {
    flex-direction: column;
  }
  /* line 368, ../scss/main.scss */
  .container .main-content .contact #contact-form input {
    width: 60vw !important;
  }
  /* line 371, ../scss/main.scss */
  .container .main-content .contact #contact-form textarea {
    width: 70vw !important;
  }
  /* line 375, ../scss/main.scss */
  .container .main-content .contact .contact-info {
    width: 100%;
  }
}
