@font-face {
  font-family: default-font;
  src: url(../AvenirLTStd-Light.otf);
}
@font-face {
  font-family: default-font;
  src: url(../AvenirLTStd-Roman.otf);
  font-weight: bold;
}
/* line 15, ../scss/main.scss */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 22, ../scss/main.scss */
.container {
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: default-font;
  display: flex;
  flex-flow: column;
}
/* line 29, ../scss/main.scss */
.container .header {
  background-image: url("../img/background.jpg");
  background-size: cover;
  height: 100vh;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* line 39, ../scss/main.scss */
.container .upper-nav {
  width: 100%;
  background: white;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #e6e9eb;
}
/* line 45, ../scss/main.scss */
.container .upper-nav .nav-container {
  width: 100%;
  display: flex;
  flex-flow: column;
}
/* line 49, ../scss/main.scss */
.container .upper-nav .nav-container .nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  /*        .other-contains {
            margin-right: 21%;
            width: 20%;
            display: flex;
            justify-content: center;
            flex-flow: row;
            .items {
              display: flex;
              justify-content: flex-start;
              align-items: flex-start;
              img {
                pointer-events: none;
                display: block;
                margin: auto;
                width: 45%;
              }
            }
          }*/
}
/* line 54, ../scss/main.scss */
.container .upper-nav .nav-container .nav-bar .contains {
  display: flex;
  width: 50%;
  justify-content: center;
  flex-flow: row;
}
/* line 59, ../scss/main.scss */
.container .upper-nav .nav-container .nav-bar .contains .items {
  display: flex;
  justify-content: center;
}
/* line 62, ../scss/main.scss */
.container .upper-nav .nav-container .nav-bar .contains .items img {
  pointer-events: none;
  display: block;
  margin: auto;
  width: 45%;
}
/* line 70, ../scss/main.scss */
.container .upper-nav .nav-container .nav-bar .education-contains {
  margin-right: 21%;
  width: 20%;
  display: flex;
  justify-content: center;
  flex-flow: row;
}
/* line 76, ../scss/main.scss */
.container .upper-nav .nav-container .nav-bar .education-contains .items {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
/* line 80, ../scss/main.scss */
.container .upper-nav .nav-container .nav-bar .education-contains .items img {
  pointer-events: none;
  display: block;
  margin: auto;
  width: 45%;
}
/* line 88, ../scss/main.scss */
.container .upper-nav .nav-container .nav-bar .experience-contains {
  margin-right: 21%;
  width: 20%;
  display: flex;
  justify-content: center;
  flex-flow: row;
}
/* line 94, ../scss/main.scss */
.container .upper-nav .nav-container .nav-bar .experience-contains .items {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
/* line 98, ../scss/main.scss */
.container .upper-nav .nav-container .nav-bar .experience-contains .items img {
  pointer-events: none;
  display: block;
  margin: auto;
  width: 45%;
}
@media all and (max-width: 500px) {
  /* line 126, ../scss/main.scss */
  .container .upper-nav .nav-container .nav-bar {
    flex-direction: row;
    /*          .other-contains{
                flex-flow: column;
                margin-right: 9vw;
                justify-content: space-between;
                align-items: center;
                img{
                  width: 50px !important;
                }
              }*/
  }
  /* line 128, ../scss/main.scss */
  .container .upper-nav .nav-container .nav-bar .contains {
    flex-direction: column;
  }
  /* line 130, ../scss/main.scss */
  .container .upper-nav .nav-container .nav-bar .contains img {
    width: 50px !important;
  }
  /* line 134, ../scss/main.scss */
  .container .upper-nav .nav-container .nav-bar .toggle {
    display: block !important;
  }
  /* line 137, ../scss/main.scss */
  .container .upper-nav .nav-container .nav-bar .education-contains {
    flex-flow: column;
    margin-right: 9vw;
    justify-content: space-between;
    align-items: center;
  }
  /* line 142, ../scss/main.scss */
  .container .upper-nav .nav-container .nav-bar .education-contains img {
    width: 50px !important;
  }
  /* line 146, ../scss/main.scss */
  .container .upper-nav .nav-container .nav-bar .experience-contains {
    flex-flow: column;
    margin-right: 9vw;
    justify-content: space-between;
    align-items: center;
  }
  /* line 151, ../scss/main.scss */
  .container .upper-nav .nav-container .nav-bar .experience-contains img {
    width: 50px !important;
  }
}
/* line 168, ../scss/main.scss */
.container .main-content {
  display: flex;
  position: relative;
  justify-content: center;
  line-height: 2.1em;
}
/* line 173, ../scss/main.scss */
.container .main-content .about {
  height: 100%;
  width: 80%;
  padding-top: 30px;
  padding-bottom: 30px;
}
/* line 179, ../scss/main.scss */
.container .main-content .education {
  padding: 30px 30px;
  height: 100%;
  width: 80%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/* line 195, ../scss/main.scss */
.container .main-content .experienece {
  padding: 30px 30px;
  height: 100%;
  width: 80%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/* line 205, ../scss/main.scss */
.container .main-content .experienece .work .work-text {
  text-align: start;
}
/* line 208, ../scss/main.scss */
.container .main-content .experienece .work .projects {
  display: block;
  align-self: flex-start;
}
/* line 211, ../scss/main.scss */
.container .main-content .experienece .work .projects .project-container {
  display: table;
  content: " ";
}
/* line 214, ../scss/main.scss */
.container .main-content .experienece .work .projects .project-container .projectCell {
  cursor: pointer;
  font-weight: bold;
  font-size: large;
  padding: 10px;
  transition: .2s ease-in-out;
}
/* line 220, ../scss/main.scss */
.container .main-content .experienece .work .projects .project-container .projectCell .projectContent:hover {
  transform: scale(1.1);
}
/* line 224, ../scss/main.scss */
.container .main-content .experienece .work .projects .project-container .description {
  width: 80%;
  text-align: center;
  margin: auto;
  padding-bottom: 10px;
  color: #444;
  margin-top: 10px;
  font-weight: lighter;
  font-size: 14px;
  line-height: 1.8;
}
/* line 237, ../scss/main.scss */
.container .main-content .experienece .work .project-info {
  display: flex;
  flex-flow: column;
  align-items: center;
}
/* line 241, ../scss/main.scss */
.container .main-content .experienece .work .project-info .cancel {
  cursor: pointer;
  align-self: flex-end;
}
/* line 244, ../scss/main.scss */
.container .main-content .experienece .work .project-info .cancel img {
  width: 30px;
}
/* line 250, ../scss/main.scss */
.container .main-content .experienece .work .project-info .project-info-container .project-media img {
  width: 70%;
  height: 90%;
}
/* line 258, ../scss/main.scss */
.container .main-content .experienece .work .project-info .project-info-container .project-title {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
/* line 263, ../scss/main.scss */
.container .main-content .experienece .work .project-info .project-info-container .project-details {
  align-self: flex-start;
  text-align: start;
}
/* line 271, ../scss/main.scss */
.container .main-content .experienece .project .project-text {
  text-align: start;
}
/* line 274, ../scss/main.scss */
.container .main-content .experienece .project .projects {
  display: block;
  align-self: flex-start;
}
/* line 277, ../scss/main.scss */
.container .main-content .experienece .project .projects .project-container {
  display: table;
  content: " ";
}
/* line 280, ../scss/main.scss */
.container .main-content .experienece .project .projects .project-container .projectCell {
  cursor: pointer;
  font-weight: bold;
  font-size: large;
  padding: 10px;
  transition: .2s ease-in-out;
}
/* line 286, ../scss/main.scss */
.container .main-content .experienece .project .projects .project-container .projectCell .projectContent:hover {
  transform: scale(1.1);
}
/* line 290, ../scss/main.scss */
.container .main-content .experienece .project .projects .project-container .description {
  width: 80%;
  text-align: center;
  margin: auto;
  padding-bottom: 10px;
  color: #444;
  margin-top: 10px;
  font-weight: lighter;
  font-size: 14px;
  line-height: 1.8;
}
/* line 303, ../scss/main.scss */
.container .main-content .experienece .project .project-info {
  display: flex;
  flex-flow: column;
  align-items: center;
}
/* line 307, ../scss/main.scss */
.container .main-content .experienece .project .project-info .cancel {
  cursor: pointer;
  align-self: flex-end;
}
/* line 310, ../scss/main.scss */
.container .main-content .experienece .project .project-info .cancel img {
  width: 30px;
}
/* line 316, ../scss/main.scss */
.container .main-content .experienece .project .project-info .project-info-container .project-media img {
  width: 70%;
  height: 90%;
}
/* line 324, ../scss/main.scss */
.container .main-content .experienece .project .project-info .project-info-container .project-title {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
/* line 329, ../scss/main.scss */
.container .main-content .experienece .project .project-info .project-info-container .project-details {
  align-self: flex-start;
  text-align: start;
}
/* line 337, ../scss/main.scss */
.container .main-content .other {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 80%;
  display: flex;
  flex-flow: row;
}
