/* Every Page Overview */
html, body {
  height: 100%;
}

h3 {
  text-align: center;
}

#wrapper {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

/* Home Page Begin */
/* Makes images fully responsive */
.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100%;
  height: 500px;
}

/* Carousel Styling */
.carousel-inner {
  border-radius: 15px;
}

.carousel-caption {
  background-color: rgba(0,0,0,.5);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  padding: 0 0 10px 25px;
  color: #fff;
  text-align: left;
}

.carousel-indicators {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 15;
  margin: 0;
  padding: 0 25px 25px 0;
  text-align: right;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
}
/* Home Page End */

/* About Page Begin */
#spin-test {
  max-height: 300px;
}

figcaption {
  text-align: center;
  color: black;
}
/* About Page End */

/* Work Page Begin */
.video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  max-height: 315px;
  overflow: hidden;
}

.video iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.project-text {
  
}

#back-to-top {
  text-align: center;
  margin: auto;
}
/* Work Page End */

/* Footer Begin */
.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .social {
     -webkit-transform: scale(0.8);
     /* Browser Variations: */
     
     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }

/* Multicoloured Hover Variations */
 #social-fb:hover {
     color: #3B5998;
 }

 #social-gb:hover {
     color: #d34836;
 }
 #social-ln:hover {
     color: #f39c12;
 }
 #social-em:hover {
     color: #4099FF;
 }
/* Footer End */