/* Every Page Overview */
html, body {
  height: 100%;
}

h3 {
  text-align: center;
}

#wrapper {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

/* Home Page Begin */
.carousel-inner > .item > img {
  width: 100%;
}
/* Home Page End */

/* About Page Begin */
#spin-test {
  max-height: 300px;
}

figcaption {
  text-align: center;
  color: black;
}
/* About Page End */

/* Work Page Begin */
.video {
  max-height: 500px;
}

.project-text {
  
}

#back-to-top {
  text-align: center;
  margin: auto;
}
/* Work Page End */

/* Footer Begin */
.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .social {
     -webkit-transform: scale(0.8);
     /* Browser Variations: */
     
     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }

/* Multicoloured Hover Variations */
 #social-fb:hover {
     color: #3B5998;
 }

 #social-gb:hover {
     color: #d34836;
 }
 #social-ln:hover {
     color: #f39c12;
 }
 #social-em:hover {
     color: #4099FF;
 }
/* Footer End */