@import "compass";
@import "partials/variables";
@import "partials/mixins";

// For the HTML and Body
html, body {
  font-family: 'Lato', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5 {
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-size: 84px;
  border-bottom: 3px solid #FFFFFF;
  padding-bottom: 30px;
}

header h2 {
  font-size: 40px;
  text-align: center;
}

h2 {
  font-size: 50px;
  text-align: center;
}

h3 {
  margin-bottom: 20px;
  color: #4D70B1;
}

h5 {
  color: #4D70B1;
}

/*p {
  font-size: 16px;
}*/

a {
  color: #4D70B1;
}

.container {
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-flow: column;
  .upper-nav {
    width: 100%;
    background: white;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #e6e9eb;
    .nav-container {
      width: 100%;
      display: flex;
      flex-flow: column;
      .nav-bar {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        .contains {
          display: flex;
          width: 50%;
          justify-content: center;
          flex-flow: row;
          .items {
            display: flex;
            justify-content: center;
            img{
              pointer-events: none;
              display: block;
              margin: auto;
              width: 45%;
            }
          }
        }
        .work-contains {
          margin-right: 21%;
          width: 25%;
          display: flex;
          justify-content: center;
          flex-flow: row;
          .items {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            img {
              pointer-events: none;
              display: block;
              margin: auto;
              width: 45%;
            }
          }
        }
        .education-contains {
          margin-right: 21%;
          width: 25%;
          display: flex;
          justify-content: center;
          flex-flow: row;
          .items {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            img {
              pointer-events: none;
              display: block;
              margin: auto;
              width: 45%;
            }
          }
        }
      }
      @media all and (max-width:500px){
        .nav-bar{
          flex-direction: row;
          .contains{
            flex-direction:column;
            img {
              width: 50px !important;
            }
          }
          .toggle {
            display: block !important;
          }
          .work-contains {
            flex-flow: column;
            margin-right: 9vw;
            justify-content: space-between;
            align-items: center;
            img {
              width: 50px !important;
            }
          }
          .education-contains {
            flex-flow: column;
            margin-right: 9vw;
            justify-content: space-between;
            align-items: center;
            img {
              width: 50px !important;
            }
          }
        }
      }
    }
  }
  .main-content {
    display: flex;
    position: relative;
    justify-content: center;
    line-height: 2.1em;
    .about {
      height: 100%;
      width: 80%;
      padding-top: 10px;
      padding-bottom: 60px;
    }
    .work {
      padding-top: 30px;
      padding-bottom: 30px;
      height: 100%;
      width: 80%;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      .code {
        .work-text {
          text-align: start;
        }
        .works{
          display: block;
          align-self: flex-start;
          .work-container{
            display: table;
            content: " ";
            .workCell{
              cursor: pointer;
              font-weight: bold;
              font-size: large;
              padding: 10px;
              transition: .2s ease-in-out;
              .workContent:hover{
                transform: scale(1.1);
              }
            }
            .description {
              width: 80%;
              text-align: center;
              margin: auto;
              padding-bottom: 10px;
              color: #444;
              margin-top: 10px;
              font-weight: lighter;
              font-size: 14px;
              line-height: 1.8;
            }
          }
        }
        .work-info {
          display: flex;
          flex-flow: column;
          align-items: center;
          .cancel {
            cursor: pointer;
            align-self: flex-end;
            img {
              width: 30px;
            }
          }
          .work-info-container {
            .work-media{
              img {
                width: 70%;
                height: 90%;
              }
            }
            .videoWrapper {
              position: relative;
              padding-bottom: 56.25%; /* 16:9 */
              padding-top: 25px;
              height: 0;
              iframe{
                position: absolute;
                top:0;
                left: 0;
                width: 100%;
                height: 100%;
              }
            }
            .work-title {
              text-align: center;
              font-weight: bold;
              font-size: 20px;
            }
            .work-details {
              align-self: flex-start;
              text-align: start;
            }
          }
        }
      }
      .design {
        .design-text {
          text-align: start;
        }
        .projects{
          display: block;
          align-self: flex-start;
          .project-container{
            display: table;
            content: " ";
            .projectCell{
              cursor: pointer;
              font-weight: bold;
              font-size: large;
              padding: 10px;
              transition: .2s ease-in-out;
              .projectContent:hover{
                transform: scale(1.1);
              }
            }
            .description {
              width: 80%;
              text-align: center;
              margin: auto;
              padding-bottom: 10px;
              color: #444;
              margin-top: 10px;
              font-weight: lighter;
              font-size: 14px;
              line-height: 1.8;
            }
          }
        }
        .project-info {
          display: flex;
          flex-flow: column;
          align-items: center;
          .cancel {
            cursor: pointer;
            align-self: flex-end;
            img {
              width: 30px;
            }
          }
          .project-info-container {
            .project-media{
              img {
                width: 70%;
                height: 90%;
              }
            }
            .videoWrapper {
              position: relative;
              padding-bottom: 56.25%; /* 16:9 */
              padding-top: 25px;
              height: 0;
              iframe{
                position: absolute;
                top:0;
                left: 0;
                width: 100%;
                height: 100%;
              }
            }
            .project-title {
              text-align: center;
              font-weight: bold;
              font-size: 20px;
            }
            .project-details {
              align-self: flex-start;
              text-align: start;
            }
          }
        }
      }
    }
    .education {
      height: 100%;
      width: 80%;
      padding-top: 30px;
      padding-bottom: 30px;
      display: flex;
      flex-flow: column;
      align-items: center;
      text-align: center;
      .school {

      }
      .coursework {

      }
    }
    .contact{
      padding-top: 30px;
      padding-bottom: 30px;
      width: 80%;
      display: flex;
      flex-flow: row;
      .contact-box {
        width: 70%;
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        #contact-form {
          width: 100%;
          input{
            margin-bottom: 50px;
            width: 40%;
            border: none;
            border-bottom: 1px solid #e6e9eb;
            display: block;
            padding-bottom: 10px;
          }
          textarea{
            margin-bottom: 20px;
            border: none;
            border-bottom: 1px solid #e6e9eb;
            width: 90%;
            height: 100px;
          }
          #btn {
            width: 150px;
            align-self: center;
          }
          input:focus,
          textarea:focus{
            outline: none;
          }
        }
      }
      .contact-info {
        width: 30%;
      }
    }
    @media all and (max-width: 500px) {
      .contact{
        flex-direction: column;
        #contact-form{
          input{
            width: 60vw !important;
          }
          textarea{
            width: 70vw !important;
          }
        }
        .contact-info{
          width: 100%;
        }
      }
    }
  }
}
